<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="icheck-material.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<div class="container-white">
    <section class="topBandeau">
        <div class="knorr-box">
            <img src="{{ asset('build/images/knorr_fr_2019-1621361.11bfd4a4.png') }}" alt="knorr" class="knorr">
        </div>
        <div class="unilever-box">
            <img src="{{ asset('build/images/unilever-white-2.fcdda213.png') }}" alt="unilever" class="unilever">
        </div>
    </section>
    <section class="topScreen">
        <table class="tableau">
            <tr>
                <td class="head-column">Ligne</td>
                <td class="head-column">Mélange</td>
                <td colspan="3" class="head-column col-recette-of">Recette/OF</td>
                <td class="head-column">Nb de batch</td>
                <td class="head-column col-couleur">Etat Mélange</td>
                <td class="head-column col-couleur">Etat Ster</td>
                <td class="head-column col-couleur">Etat Condi</td>
                <td class="head-column col-commentaire">Commentaire</td>
            </tr>
            {#            ligne1 #}
            <tr class="bordure-haute-epaisse">
                <td rowspan="3">1</td>
                <td rowspan="3">M1</td>
                <td colspan="3">9999999999</td>
                <td rowspan="1">Prepa: 10/14</td>
                <td rowspan="3" class="orange"></td>
                <td rowspan="3" class="rouge"></td>
                <td rowspan="3" class="rouge"></td>
                <td rowspan="3">Commentaire</td>
            </tr>
            <tr class="bordure-haute-fine">
                <td colspan="3">Douceur 8 légumes</td>
                <td rowspan="2">Prepa: 10/14</td>
            </tr>
            <tr class="bordure-haute-fine">
                <td>All</td>
                <td>P5</td>
                <td>T</td>
            </tr>
            {#            ligne2#}
            <tr class="bordure-haute-epaisse">
                <td rowspan="3">2</td>
                <td rowspan="3">M1</td>
                <td colspan="3">9999999999</td>
                <td rowspan="1">Prepa: 10/14</td>
                <td rowspan="3" class="vert"></td>
                <td rowspan="3" class="orange"></td>
                <td rowspan="3" class="rouge"></td>
                <td rowspan="3">Commentaire</td>
            </tr>
            <tr class="bordure-haute-fine">
                <td colspan="3">Douceur 8 légumes</td>
                <td rowspan="2">Prepa: 10/14</td>
            </tr>
            <tr class="bordure-haute-fine">
                <td>All</td>
                <td>P5</td>
                <td>T</td>
            </tr>
            {#            ligne3#}
            <tr class="bordure-haute-epaisse">
                <td rowspan="3">3</td>
                <td rowspan="3">M1</td>
                <td colspan="3">9999999999</td>
                <td rowspan="1">Prepa: 10/14</td>
                <td rowspan="3" class="rouge"></td>
                <td rowspan="3" class="vert"></td>
                <td rowspan="3" class="orange"></td>
                <td rowspan="3">Commentaire</td>
            </tr>
            <tr class="bordure-haute-fine">
                <td colspan="3">Douceur 8 légumes</td>
                <td rowspan="2">Prepa: 10/14</td>
            </tr>
            <tr class="bordure-haute-fine">
                <td>All</td>
                <td>P5</td>
                <td>T</td>
            </tr>
            {#            ligne4#}
            <tr class="bordure-haute-epaisse">
                <td rowspan="3">4</td>
                <td rowspan="3">M1</td>
                <td colspan="3">9999999999</td>
                <td rowspan="1">Prepa: 10/14</td>
                <td rowspan="3" class="orange"></td>
                <td rowspan="3" class="rouge"></td>
                <td rowspan="3" class="vert"></td>
                <td rowspan="3">Commentaire</td>
            </tr>
            <tr class="bordure-haute-fine">
                <td colspan="3">Douceur 8 légumes</td>
                <td rowspan="2">Prepa: 10/14</td>
            </tr>
            <tr class="bordure-haute-fine">
                <td>All</td>
                <td>P5</td>
                <td>T</td>
            </tr>
            {#            ligne5#}
            <tr class="bordure-haute-epaisse">
                <td rowspan="3">5</td>
                <td rowspan="3">M1</td>
                <td colspan="3">9999999999</td>
                <td rowspan="1">Prepa: 10/14</td>
                <td rowspan="3" class="vert"></td>
                <td rowspan="3" class="orange"></td>
                <td rowspan="3" class="rouge"></td>
                <td rowspan="3">Commentaire</td>
            </tr>
            <tr class="bordure-haute-fine">
                <td colspan="3">Douceur 8 légumes</td>
                <td rowspan="2">Prepa: 10/14</td>
            </tr>
            <tr class="bordure-haute-fine">
                <td>All</td>
                <td>P5</td>
                <td>T</td>
            </tr>
        </table>
    </section>
    <section class="bottomScreen">

    </section>
</div>

</body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
