@mixin ring($size, $color) {
  width: $size+rem;
  height: $size+rem;
  border-radius: 50%;
  background-color: $yellow;
  border: ($size / 8)+rem solid $color;
  margin-top: 1rem;
  margin-left: 2rem;
}