@import "vars";
@import "mixins";

@font-face
{
  font-family: 'BebasNeue-Regular';
  src: url('../typo/BebasNeue-Regular.otf');
}

@font-face
{
  font-family: 'Futura';
  src: url('../typo/FuturaExtended.ttf');
}

*
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

body {
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
}

.container-white{
  background-color: white;
  height: 96vh;
}

.topBandeau{
  border-radius: 1rem 1rem 0 0;
  height: 13vh;
  background-color: rgba(23,127,73,1);
}
.topScreen {
  height: 70vh;
  background-color: rgba(23,127,73,1);
}

.bottomScreen {
  height: 13vh;
  border-radius: 0 0 1rem 1rem;
  border: rgba(23,127,73,1) solid .4rem;
  background-color: white;
}

.logo-box{
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.logo{
  width: 15rem;
}



//@media only screen and (max-device-width:400px) and (min-device-width: 350px) {
//    .logo {
//      width: 30%;
//      margin-top: -320px;
//      margin-left: 200px;
//    }
//}
//
//@media only screen and (max-device-width:420px) and (min-device-width: 401px){
//  .logo {
//    width: 30%;
//    margin-top: -320px;
//    margin-left: 250px;
//  }
//}

.button_nav:link,
.button_nav:visited {
  @include ring(3.5, $blue);
  transition: all .2s ease-in-out;
  z-index: 1;
}

.button_nav:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
}

.button_nav:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
}

.text-button{
  color: $brown;
  font-size: 1.9rem;
  font-family: "BebasNeue-Regular", serif;
  height: 2.5rem;
  background-color: $blue;
  box-shadow: 0 10px 20px rgba(0,0,0,0);
  transform: translate(-1rem, .2rem);
  padding: 0 2rem;
  border-radius: 0 2rem 2rem 0;
  z-index: 0;
}

footer{
  background-color: $brown;

}

.separateur1{
  border-bottom: 1px solid white;
}

.separateur2{
  border-bottom: 1px solid white;
}

.footer-titre{
  font-family: "BebasNeue-Regular";
  color: $white;
  text-align: center;
  font-size: 2.3rem;
}

.anatomie{
  text-align: center;
  font-family: "BebasNeue-Regular";
  color: $white;
  font-size: 2rem;
  letter-spacing: 1.6rem;
}


.ccb-box {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ccby{
  width: 15rem;
}

.text_footer{
  text-align:justify;
  font-size: 1.4rem;
}

.remerciement-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

//projet flash

.tableau {
  background-color: white;
  width: 90vw;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 500;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  border-radius: 1rem;
  border-collapse: collapse;
  margin: auto;
}

.head-column{
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.orange{
  background: linear-gradient(20deg, rgba(248, 148, 6, 1), rgba(248, 148, 6, .4));
  box-shadow: 0 2px 5px rgba(0, 0, 0, .6);
}

.rouge{
  background: linear-gradient(20deg, rgba(214, 69, 65, 1), rgba(214, 69, 65, .4));
  box-shadow: 0 2px 5px rgba(0, 0, 0, .6);
}

.vert{
  background: linear-gradient(20deg, rgba(23,127,73,1), rgba(23,127,73,.3));
  box-shadow: 0 2px 5px rgba(0, 0, 0, .6);
}

.knorr-box {
  position: absolute;
  top: 1rem;
  left: 8rem;
}

.knorr {
  width: 13rem;
}

.unilever-box {
  position: absolute;
  top: 2rem;
  right: 4rem;
}

.unilever {
  width: 16rem;
}

.col-propriete {
  width: 20rem;
}

.col-commentaire {
   width: 30rem;
 }

.col-recette-of {
  width: 20rem;
}

.col-couleur {
  width: 13rem;
}

.bordure-haute-epaisse {
  border-top: .6rem solid rgb(23,127,73);
}

.bordure-haute-fine {
  border-top: .2rem solid rgb(23,127,73);
}

td{
  border-right: .2rem solid rgb(23,127,73);
}




