@import "vars";
@import "mixins";

.mon-design-box{
  position: absolute;
  top: $banner-box-top + 1*10rem;
}

.mon-design-texte{
  color: $brown;
  top: $banner-box-top + 1*10rem;
}

.cc-box{
  position: absolute;
  top: $banner-box-top + 1.7*10rem;
}

.cc-exercices-box{
  position: absolute;
  top: $banner-box-top + 2.5*10rem;
}

.exercices-synthese{
   border-radius: 1rem;
   border: 1px solid $brown;
   box-shadow: 0 2px 4px rgba(0,0,0,.5);
   height: 5rem;
   font-size: 1.4rem;
 }

a {
  text-decoration: none;
}

.texte-synthese{
  font-size: 1.6rem;
  color: $brown !important;
}

.texte-synthese-sm{
  font-size: 1.3rem;
  color: $brown !important;
}

.texte-synthese-strong{
  font-weight: 700;
  background-color: rgba(255,255,255,.5);
  padding: .5em;
  border-radius: 10px;

}