{% extends 'base.html.twig' %}

{% block title %}Edit Correspondance{% endblock %}

{% block body %}
    <h1>Edit Correspondance</h1>

    {{ include('correspondance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('correspondance_index') }}">back to list</a>

    {{ include('correspondance/_delete_form.html.twig') }}
{% endblock %}
